{% load static %}
<link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">
<title>Arm Workout</title>
<h1><center><img src="{% static 'logo.png' %}"
    height="300"
    length="750"
</h1>
</style>   

<body style="background-color:#4C3A51;"></body>


  
<form action = "sendExerciseArms/" method="post">
    {% csrf_token %}
    <select name="arms">
        <option value="empty"> </option>
        <option value="exercise0">Flat Bench</option>
        <option value="exercise1">Overhead Press</option>
        <option value="exercise2">Bent Over Rows</option>
        <option value="exercise3">Standard Curls</option>
        <option value="exercise4">Tricep Pushdown</option>
        <option value="exercise5">Chest Fly</option>
        <option value="exercise6">Lat Pulldown</option>
        <option value="exercise7">Preacher Curl</option>
        <option value="exercise8">Lat Fly</option>
        <option value="exercise9">Incline Bench</option>
        <option value="exercise10">Rear Delt Fly</option>
        <option value="exercise11">Chest Press</option>
        <option value="exercise12">Reverse Curls</option>
        <option value="exercise13">Hammer Curl</option>
        <option value="exercise14">Dumbell Rows</option>
        <option value="exercise15">Horizontal Cable Pull</option>
    </select>
    <input type="submit" value=&#8594 class="button"/>
</form>

<style>
    select{
        margin-bottom: 20px;
        margin-top: 40px;
        color: black;
        width:1000px;
        background-color: #B25068;
        border: 100px;
        padding: 20px;
        border-radius: 15px;
    }

    .button {
        background-color: #B25068;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 15px;
        padding:18px;
    }

    center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }

</style>

    
