<!DOCTYPE html>
<html>
<style>
    body{
        font-family: 'Helvetica';
    }
</style>  
    <!--logo-->
    <div>
    <img src="static/logo.png">
    <a href="https://app.destinyitemmanager.com/"><img src="static/arm.png" style="padding-top:75px;padding-right:75px;float:right;width:150px;height:100px"></a>
    <a href="https://app.destinyitemmanager.com/"><img src="static/leg.png" style="padding-top:50px;padding-right:50px;float:right;width:100px;height:150px"></a>
    </div>

    <!--background-->
    <body style="background-color:#4C3A51;"></body>

    <!--grid part-->
    <head>
        <style>
        .item1 { grid-area: box1; }
        .item2 { grid-area: box2; }
        .item3 { grid-area: box3; }
        .item4 { grid-area: box4; }
        .item5 { grid-area: box5; }
        .item6 { grid-area: box6; }
        
        .grid-container {
          display: grid;
          grid-template-areas:
            'box1' 
            'box2'
            'box3' 
            'box4'
            'box5' 
            'box6' ;
          gap: 70px;
          background-color: #4C3A51;
          padding: 70px;
          border-radius: 15px;
        }
        
        .grid-container > div {
          background-color: #B25068;
          text-align: left;
          padding-top: 30px;
          padding-right: 30px;
          padding-bottom: 30px;
          padding-left: 30px;
          font-size: 25px;
          color:#E7AB79;
          border-radius: 15px;
        }
        </style>
        </head>
        <body>
        
            <!--contents of the individual containers-->
        <div class="grid-container">

          <div class="item1">
            <div>
                <iframe align="right" style="border-radius:15px;" width="300" height="300" src="https://www.youtube.com/embed/mEbC-y4hs9Q" title="Hammer curls" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <img src="static/lift.png" style="padding:10px;border-radius:15px;width:200px;height:50px"><br>
            test text under lift.png<br><br>
            <img src="static/how.png" style="padding:10px;border-radius:15px;width:200px;height:50px"><br>
            lots of test text under how.png asdfasdf asdfasdfl kahsdfa  asokdf askjdfoasf o;asd flkasdfk jhasdkfjh
            laskdh fkaljshdfi uash dlfha sildugh iashdg iuashdi ofu hasdfhasidhf iouasdf iuhasdifg asiudfhai sd
            asd ufaisu hdfiuahsdg iuasdi9ugv aewiruhg iuawdguasd iufha widufhasoi udhf iua wifuhasd
            as odygi aushd uhasd9u gh9asudhg oaushoig woihasiudh aiush uhas9d0u hfa089u tasudhf 'as oip dgpi padding-leftasi h
            asoi dfaiouhdg oiausg oiuasdg oiuhasdouif adoufigaosiu goiu ashdf iuhasdigu hasdugh aosduihf oi uhasd9ukaus
          </div>

          <div class="item2">
            <div>
                <iframe align="right" style="border-radius:15px;" width="300" height="300" src="https://www.youtube.com/embed/mEbC-y4hs9Q" title="Hammer curls" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <img src="static/lift.png" style="border-radius:15px;width:200px;height:50px"><br>
            test text under lift.png<br><br>
            <img src="static/how.png" style="border-radius:15px;width:200px;height:50px"><br>
            lots of test text under how.png asdfasdf asdfasdfl kahsdfa  asokdf askjdfoasf o;asd flkasdfk jhasdkfjh
            laskdh fkaljshdfi uash dlfha sildugh iashdg iuashdi ofu hasdfhasidhf iouasdf iuhasdifg asiudfhai sd
            asd ufaisu hdfiuahsdg iuasdi9ugv aewiruhg iuawdguasd iufha widufhasoi udhf iua wifuhasd
            as odygi aushd uhasd9u gh9asudhg oaushoig woihasiudh aiush uhas9d0u hfa089u tasudhf 'as oip dgpi padding-leftasi h
            asoi dfaiouhdg oiausg oiuasdg oiuhasdouif adoufigaosiu goiu ashdf iuhasdigu hasdugh aosduihf oi uhasd9ukaus
          </div>

          <div class="item3">
            <div>
                <iframe align="right" style="border-radius:15px;" width="300" height="300" src="https://www.youtube.com/embed/mEbC-y4hs9Q" title="Hammer curls" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <img src="static/lift.png" style="border-radius:15px;width:200px;height:50px"><br>
            test text under lift.png<br><br>
            <img src="static/how.png" style="border-radius:15px;width:200px;height:50px"><br>
            lots of test text under how.png asdfasdf asdfasdfl kahsdfa  asokdf askjdfoasf o;asd flkasdfk jhasdkfjh
            laskdh fkaljshdfi uash dlfha sildugh iashdg iuashdi ofu hasdfhasidhf iouasdf iuhasdifg asiudfhai sd
            asd ufaisu hdfiuahsdg iuasdi9ugv aewiruhg iuawdguasd iufha widufhasoi udhf iua wifuhasd
            as odygi aushd uhasd9u gh9asudhg oaushoig woihasiudh aiush uhas9d0u hfa089u tasudhf 'as oip dgpi padding-leftasi h
            asoi dfaiouhdg oiausg oiuasdg oiuhasdouif adoufigaosiu goiu ashdf iuhasdigu hasdugh aosduihf oi uhasd9ukaus
          </div> 

          <div class="item4">
            <div>
                <iframe align="right" style="border-radius:15px;" width="300" height="300" src="https://www.youtube.com/embed/mEbC-y4hs9Q" title="Hammer curls" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <img src="static/lift.png" style="border-radius:15px;width:200px;height:50px"><br>
            test text under lift.png<br><br>
            <img src="static/how.png" style="border-radius:15px;width:200px;height:50px"><br>
            lots of test text under how.png asdfasdf asdfasdfl kahsdfa  asokdf askjdfoasf o;asd flkasdfk jhasdkfjh
            laskdh fkaljshdfi uash dlfha sildugh iashdg iuashdi ofu hasdfhasidhf iouasdf iuhasdifg asiudfhai sd
            asd ufaisu hdfiuahsdg iuasdi9ugv aewiruhg iuawdguasd iufha widufhasoi udhf iua wifuhasd
            as odygi aushd uhasd9u gh9asudhg oaushoig woihasiudh aiush uhas9d0u hfa089u tasudhf 'as oip dgpi padding-leftasi h
            asoi dfaiouhdg oiausg oiuasdg oiuhasdouif adoufigaosiu goiu ashdf iuhasdigu hasdugh aosduihf oi uhasd9ukaus
          </div>

          <div class="item5">
            <div>
                <iframe align="right" style="border-radius:15px;" width="300" height="300" src="https://www.youtube.com/embed/mEbC-y4hs9Q" title="Hammer curls" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <img src="static/lift.png" style="border-radius:15px;width:200px;height:50px"><br>
            test text under lift.png<br><br>
            <img src="static/how.png" style="border-radius:15px;width:200px;height:50px"><br>
            lots of test text under how.png asdfasdf asdfasdfl kahsdfa  asokdf askjdfoasf o;asd flkasdfk jhasdkfjh
            laskdh fkaljshdfi uash dlfha sildugh iashdg iuashdi ofu hasdfhasidhf iouasdf iuhasdifg asiudfhai sd
            asd ufaisu hdfiuahsdg iuasdi9ugv aewiruhg iuawdguasd iufha widufhasoi udhf iua wifuhasd
            as odygi aushd uhasd9u gh9asudhg oaushoig woihasiudh aiush uhas9d0u hfa089u tasudhf 'as oip dgpi padding-leftasi h
            asoi dfaiouhdg oiausg oiuasdg oiuhasdouif adoufigaosiu goiu ashdf iuhasdigu hasdugh aosduihf oi uhasd9ukaus
          </div>

          <div class="item6">
            <div>
                <iframe align="right" style="border-radius:15px;" width="300" height="300" src="https://www.youtube.com/embed/mEbC-y4hs9Q" title="Hammer curls" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <img src="static/lift.png" style="border-radius:15px;width:200px;height:50px"><br>
            test text under lift.png<br><br>
            <img src="static/how.png" style="border-radius:15px;width:200px;height:50px"><br>
            lots of test text under how.png asdfasdf asdfasdfl kahsdfa  asokdf askjdfoasf o;asd flkasdfk jhasdkfjh
            laskdh fkaljshdfi uash dlfha sildugh iashdg iuashdi ofu hasdfhasidhf iouasdf iuhasdifg asiudfhai sd
            asd ufaisu hdfiuahsdg iuasdi9ugv aewiruhg iuawdguasd iufha widufhasoi udhf iua wifuhasd
            as odygi aushd uhasd9u gh9asudhg oaushoig woihasiudh aiush uhas9d0u hfa089u tasudhf 'as oip dgpi padding-leftasi h
            asoi dfaiouhdg oiausg oiuasdg oiuhasdouif adoufigaosiu goiu ashdf iuhasdigu hasdugh aosduihf oi uhasd9ukaus
          </div>

        </div>            
</html>