{% load static %}
<h1><center><img src="{% static 'logo.png' %}"
    height="300"
    length="750"
</h1>
</style>   

<body style="background-color:#4C3A51;"></body>


<form action = "sendExerciseLegs/" method="post">
    {% csrf_token %}
    <select name="legs">
        <option value="empty"> </option>
        <option value="exercise0">Dead Lift</option>
        <option value="exercise1">Squat</option>
        <option value="exercise2">Lunges</option>
        <option value="exercise3">Abductor</option>
        <option value="exercise4">Adductor</option>
        <option value="exercise5">Calf Machine</option>
        <option value="exercise6">Leg Extensions</option>
        <option value="exercise7">Leg Curls</option>
        <option value="exercise8">Kickbacks</option>
        <option value="exercise9">Leg Press</option>
        <option value="exercise10">Cable Squat</option>
        <option value="exercise11">Band Abductions</option>
        <option value="exercise12">Seated Band Abduction</option>
        <option value="exercise13">Romanian Deadlift</option>
        <option value="exercise14">Hip Thrust</option>
        <option value="exercise15">Single Leg Squat</option>
    </select>
    <input type="submit" value=&#8594 class="button"/>
</form>

<style>
    select{
        margin-bottom: 20px;
        margin-top: 40px;
        color: black;
        width:1000px;
        background-color: #B25068;
        border: 100px;
        padding: 20px;
        border-radius: 15px;
        
    }

    .button {
        background-color: #B25068;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 15px;
        padding:18px;
    }

    center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }

</style>