{% load static %}
<h1><center><img src="{% static 'logo.png' %}"
    height="100"
    length="250"
</h1>
</style>   

<form action = "sendExercise/" method="post">
    {% csrf_token %}
    <select name="arms">
        <option value="empty"> </option>
        <option value="exercise1">Flat Bench</option>
        <option value="exercise2">Overhead Press</option>
        <option value="exercise3">Bent Over Rows</option>
        <option value="exercise4">Standard Rows</option>
        <option value="exercise5">Tricep Pushdown</option>
        <option value="exercise6">Chest Fly</option>
        <option value="exercise7">Last Pulldown</option>
        <option value="exercise8">Preacher Curl</option>
        <option value="exercise9">Lat Fly</option>
        <option value="exercise10">Incline Bench</option>
        <option value="exercise11">rear delt fly</option>
        <option value="exercise12">chest press</option>
        <option value="exercise13">reverse curls</option>
        <option value="exercise14">hammer curls</option>
        <option value="exercise15">dumbell rows</option>
        <option value="exercise16">horizonat cable pull</option>
    </select>
    <input type="submit" value=&#8594 />
</form>

<style>
    select{
        margin-bottom: 20px;
        margin-top: 40px;
        color: black;
        width:1000px;
        background-color: #B25068;
        border: 100px;
        padding: 20px;
        border-radius: 15px;
    
    button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
}
</style>